# Format: Preferred Name <preferred@email.com> Alternate Name <alternate@email.com>
# Or:     Preferred Name <preferred@email.com> <alternate@email.com>

Jeremy D. Gerdes <seakintruth@gmail.com> seakintruth <seakintruth@gmail.com>
Jeremy D. Gerdes <seakintruth@gmail.com> <25202605+seakintruth@users.noreply.github.com>
Jeremy D. Gerdes <seakintruth@gmail.com> jeremy.d.gerdes.civ <jeremy.d.gerdes.civ@us.navy.mil>
